<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <!-- <h2 style="color: blue; padding-left: 40%;">Product Entry</h2> -->
    <form action="/productdetails" method="GET">
      <!-- <div class="header"> -->
      <div class="card1">
        <h4 style="color: white; text-align: center;">Childrens Dresses </h4>

        <div class="card2">
          <!-- <div class="card3" style="padding-top: 100;"> -->
          <div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2" style="padding-top: 85px;">
              <button
                style="
                  position: relative;
                  padding-top: 200px;
                  padding: 0;
                  border: none;
                  background: none;
                "
              >
                <i class="fa fa-globe" aria-hidden="true"></i>
                <span style="padding-left: 5px;">US | $</span>
                <i
                  class="fa fa-search"
                  aria-hidden="true"
                  style="padding-left: 10px;"
                ></i>
              </button>
            </div>
            <div class="col-sm-2"></div>

            <div class="col-sm-4" style="padding-top: 50px;">
              <i
                class="fa fa-globe"
                aria-hidden="true"
                style="padding-left: 50px;"
              ></i>
              <p style="font-size: 10px; padding-top: 10px;">
                M &nbsp;A&nbsp; I &nbsp;S &nbsp;O &nbsp;N &nbsp;E&nbsp; T&nbsp;
                T&nbsp; E
              </p>
            </div>
            <div class="col-sm-2" style="padding-top: 85px;">
              <button
                style="
                  position: relative;
                  padding-top: 200px;
                  padding: 0;
                  border: none;
                  background: none;
                "
              >
                <span>Sign in</span
                ><i
                  class="fa fa-heart"
                  aria-hidden="true"
                  style="padding-left: 10px;"
                ></i>
                <i
                  class="fa fa-shopping-cart"
                  aria-hidden="true"
                  style="padding-left: 10px;"
                ></i>
              </button>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <br />
        <div>
          <div class="col-sm-1"></div>
          <div
            class="col-sm-1"
            style="color: #f45244; font-weight: 600; font-size: 10px;"
          >
            M A I S O N M E
          </div>

          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >W H A T'S&nbsp; N E W</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >B A B Y</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >K I D S</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >P L A Y</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >H O M E</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >G E A R</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >G I F T S</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >B R A N D S</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >S A L E</span
            >
          </div>
          <div class="col-sm-1">
            <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
              >R E A D</span
            >
          </div>
        </div>
        <br />
        <hr style="height: 1px;" />
        <br />
        <div class="col-sm-1"></div>
        <div class="col-sm-3" style="column-span: all;">
          <span style="font-size: 10px; color: #3150a2; font-weight: 600;"
            >K I D S</span
          >
          <br />
          <hr style="height: 1px; background-color: grey;" />
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Girl Clothing</span
          >
          <br />

          <br />
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span
            style="
              font-size: 12px;
              color: #3150a2;
              font-weight: 400;
              padding-top: 20px;
            "
            >Dresses</span
          >
          <br />
          <br />
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Tops</span
          >
          <br />
          <br />
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Swim</span
          >
          <br />

          <br />

          &nbsp; &nbsp; &nbsp; &nbsp;
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Pants</span
          >
          <br />

          <br />

          &nbsp; &nbsp; &nbsp; &nbsp;
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Sleepwear</span
          >
          <br />

          <br />

          &nbsp; &nbsp; &nbsp; &nbsp;
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Outerwear</span
          >
          <br />

          <br />

          &nbsp; &nbsp; &nbsp; &nbsp;
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Skirts</span
          >
          <br />

          <br />

          &nbsp; &nbsp; &nbsp; &nbsp;
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Shorts</span
          >
          <br />

          <br />

          &nbsp; &nbsp; &nbsp; &nbsp;
          <span style="font-size: 12px; color: #3150a2; font-weight: 400;"
            >Rompers</span
          >
        </div>
        <div class="col-sm-8">
          <!-- <div class="col-md-4">
            <img
              src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png"
              alt="Girl in a jacket"
              width="230"
              height="230"
            />
            <span>Hello</span>
            <div>
              <span style="position: relative;">Hello</span>
            </div>
            <div>
              <span style="text-align: center;">Hello</span>
            </div>
          </div> -->
          <%for(var index=0;index<value.length;index++){%>
          <div class="col-md-4">
           
            <img
              src="docs/<%=value[index].productImage%>"
              alt="Girl in a jacket"
              width="230"
              height="230"
            />
            <br>

            <br>
            <div >
            <label style="text-align: center; display: block;"><%=value[index].productName%></label></div>
           
            <div >
              <label style="text-align: center; display: block;"><%=value[index].productPrice%></label></div>

           

          </div>
          <% } %>

          
          <!-- <div class="col-md-4">
            <img
              src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png"
              alt="Girl in a jacket"
              width="230"
              height="230"
            />
            <div>
              <span style="text-align: center;">Hello</span>
            </div>
          </div> -->
        </div>
      </div>
    </form>
  </body>
  <style>
    .header {
      /* padding: 60px; */
      animation: blinker 0.6s linear infinite;
      height: 80;
      text-align: center;
      background: #3150a2;
      color: white;
      font-size: 15px;
    }
    .card1 {
      width: 100%;
      height: 50px;
      border: 1px solid #3150a2;
      background: #3150a2;
    }
    .card2 {
      width: 100%;
      height: 120px;
      /* border: 1px solid blue; */
      background: #fcf8e8;
    }
  </style>
</html>
